<div class="row">
  <div class="col-sm-12">
    <div class="title-box text-center">
      <h3 class="title-a">
        Ochrana osobních údajů
      </h3>
      <p class="subtitle-a">

      </p>
      <div class="line-mf"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center" style="margin-bottom:30px;">
      <a target="_blank" href="../../../../assets/files/ochrana-osobnich-udaju-pujcimeiphone.pdf" class="pdf-button">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Stáhnout ve formě PDF
      </a>
    </div>
  </div>

  <p>
    Oznámení o ochraně osobních údajů (dále též „Oznámení“) webu www.pujcimeiphone.cz (dále
    též „Web“), provozovaný provozovatelem Petrem Ngo, sídlem Na Konečné 206/9 , Teplice 415
    01 | IČ: 06748481, kontaktní také na info@pujcimeiphone.cz vytyčuje vzájemná práva a
    povinnosti nás jako správce osobních údajů a fyzických osob jako subjektů údajů v rámci
    realizace ochrany osobních údajů, získaných též prostřednictvím on-line aktivit Webu takto:
  </p>
  <ul>
    <li>
      Úprava ochrany osobních údajů dle tohoto Oznámení vyplývá ze zákona č. 110/2019 Sb.
      o ochraně osobních údajů, v účinném znění, zákona č. 480/2004 Sb. o některých
      službách informační společnosti, v účinném znění a Nařízení Evropského parlamentu
      a Rady (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v souvislosti
      se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice
      95/46/ES - obecné nařízení o ochraně osobních údajů (dále též „GDPR“), účinné k
      25.05.2018, kdy v těchto právních předpisech můžete nalézt širší popis rozsahu práv a
      povinností při ochraně osobních údajů.
    </li>
    <li>
      Zpracováváme Vaše osobní údaje, které nám sami předáte (sdělíte), také v souvislosti s
      Vaším užitím Webu, obvykle jméno, příjmení, firma, adresy, telefon, GSM, e-mail apod..
      Nepoužíváme žádné formy automatického rozhodování včetně Vašeho profilování.
      Tyto osobní údaje máme za účelem přijetí/potvrzení/vyřízení/odeslání Vaší
      objednávky a komunikace o ní a jiných našich službách.
    </li>
  </ul>

  <div class="col-sm-12">
    <br />
    <h5>Vaše osobní údaje tedy zpracováváme, abychom:</h5>
    <div class="line-mf-product-detail"></div>
  </div>
  <ul>
    <li>
      mohli splnit smlouvu s Vámi,
    </li>
    <li>
      splnit zákonné povinnosti jako např. vystavit doklady,
    </li>
    <li>
      protože jste nám sami udělili souhlas,
    </li>
    <li>
      <p>
        je v našem oprávněném zájmu Vaše osobní údaje z Vašich dřívějších objednávek na
        našem webu dále zpracovávat pro účely zlepšování našich systémů, abychom Vám
        mohli dát vědět, co je nového ve světě našich služeb apod.
      </p>
      <p>
        Zpracování osobních údajů tedy probíhá vždy pro konkrétní účely na základě jasných
        právních základů. Předáváme Vaše údaje jiným příjemcům, ukládá-li nám to zákon a dále
        smluvním příjemcům (tzv. zpracovatelům) jen tak, abychom mohli splnit naše vzájemné
        závazky. Vaše údaje nepředáváme nikam mimo EU. Nepoužíváme žádné formy automatického
        rozhodování včetně Vašeho profilování.
      </p>
    </li>
    <li>
      <p>
        Vaše údaje zpracováváme do odvolání souhlasu a v ostatních případech nejdéle 10 let, s
        ohledem na archivační povinnosti dle jednotlivých zákonů (např. zákon o DPH), pak
        Vaše údaje definitivně smažeme/skartujeme.
      </p>
      <p>
        Máte právo na informace, zahrnující též právo na přístup ke svým osobním údajům
        zpracovávaných u nás, právo na opravu nepřesných údajů, právo být zapomenut výmazem
        Vašich osobních údajů, právo uplatit omezení zpracování ze zákonných důvodů, právo na
        přenesení svých osobních údajů jinam, námitku proti jakémukoliv zpracování a samozřejmě také
        kdykoliv odvolat svůj souhlas, byl-li udělen. Veškerá svá práva můžete u nás uplatnit jakkoliv,
        nejvhodněji však na e-mailové adrese: info@pujcimeiphone.cz. Tím vším však není dotčeno Vaše
        právo stěžovat si u Úřadu na ochranu osobních údajů www.uoou.cz či uplatit svá práva u soudu.
      </p>
    </li>
  </ul>
  <div class="col-sm-12">
    <br />
    <h5>Zpracovatelé</h5>
    <div class="line-mf-product-detail"></div>
  </div>
  <p>
    <strong>Zpracovateli jsou:</strong>
  </p>
  <ul>
    <li>
      provozovatelé poštovních a kurýrních služeb,
    </li>
    <li>
      poskytovatelé specializovaných poradenských služeb (např. služby účetní, právní,
      technické, organizační, ekonomické, podnikatelské, auditorské, znalecké, tlumočnické,
      daňového poradenství apod.),
    </li>
    <li>provozovatelé služeb webhostingu, serverových a cloudových služeb,</li>
    <li>
      provozovatelé platforem sociálních sítí, které subjektu mohou poskytovat připojovací
      služby, např. připojení z platforem sociálních sítí na platformy organizace,
    </li>
    <li>
      provozovatelé jiných obchodních platforem, jež mohou prostřednictvím platforem
      organizace inzerovat své produkty a služby a u nichž se subjekt může rozhodnout
      k registraci, bez ohledu na rozsah obchodní vazby takového provozovatele a
      organizace,
    </li>
    <li>provozovatelé jiných webů, kteří inzerují produkty a služby organizace na svých webech,</li>
    <li>
      poskytovatelé jiných technických služeb organizaci,
      a jejich subdodavatelé (tzv. řetězení zpracovatelů), jež se podrobují stejným pravidlům jako naši
      prvotní zpracovatelé, výhradně však při splnění některé z následujících podmínek:
    </li>
    <li>
      je nutné zapojit třetí stranu jako poskytovatele služeb za účelem naplnění jakéhokoliv
      ujednání, které organizace se subjektem uzavřela (např. vyřízení objednávky,
      zpracování bankovního převodu apod.),
    </li>
    <li>
      jako součást předsmluvního jednání a za účelem přípravy očekávání uzavření ujednání dle
      písm. a),
    </li>
    <li>
      za účelem užití analytických informací, též ve spolupráci kooperaci s poskytovateli
      vyhledávacích služeb, kteří organizaci pomáhají při zlepšování a optimalizaci jejich
      platforem (např. Google Analytics),
    </li>
    <li>
      je-li to od subjektu výslovně požadováno (např. při používání metod ověřování pomocí
      sociálních sítí);
    </li>
    <li>
      při distribuci části našich platforem pro zobrazení na webech obchodních partnerů
      organizace,
    </li>
    <li>
      je-li to potřebné za účelem vytvoření, zjištění, provádění či ochrany právních nároků
      a/nebo vyžaduje-li to obecně závazný předpis a/nebo v dobré víře, že takový přístup,
      uchování nebo zveřejnění je přiměřeně nezbytné, aby organizace mohla patřičně
      reagovat na nároky vůči organizaci, při soudním řízením, při prosazování jakýchkoliv
      ujednání s uživateli či členy organizace, v případě nouze s ohrožením veřejného zdraví,
      úmrtí nebo fyzického zranění osoby, v rámci vyšetřování, v rámci ochrany práv,
      majetku či osobní bezpečnosti v organizaci, jejích uživatelů či členů anebo jiných osob
    </li>
  </ul>
  <i>
    Pokud si budete přát více informací, stačí nás kontaktovat na emailu
    <a href="mailto:info@pujcimeiphone.cz">info@pujcimeiphone.cz</a>. Rádi vám poradíme.
  </i>
</div>
