<div class="row">
  <div class="col-sm-12">
    <div class="title-box text-center">
      <h3 class="title-a">
        Cookies a jejich využití
      </h3>
      <p class="subtitle-a">

      </p>
      <div class="line-mf"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center" style="margin-bottom:30px;">
      <a target="_blank" href="../../../../assets/files/cookies-pujcimeiphone.pdf" class="pdf-button">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Stáhnout ve formě PDF
      </a>
    </div>
  </div>
  <p>
    Petr Ngo, sídlem Na Konečné 206/9, Teplice, 415 01 | IČ: 06748481 jako
    provozovatel webu www.pujcimeiphone.cz využívá pro provoz těchto internetových stránek
    technologii cookies.
  </p>
  <p>
    Cookies jsou soubory, které internetový prohlížeč čte a ukládá do vašeho
    zařízení. Díky cookies může internetová stránka pracovat efektivněji, protože si
    zapamatuje vaše předchozí volby a nastavení.
    Cookies dělíme podle různých účelů
  </p>

  <div class="col-sm-12">
    <br />
    <h5>Nutné cookies</h5>
    <div class="line-mf-product-detail"></div>
  </div>
  <p>
    Bez těchto cookies byste se na stránkách neobešli. Díky nim můžete využívat
    základní funkce na webové stránce a pohybovat se po ní. Nejčastěji reagují na
    vaší činnost, což může být přihlášení se do zabezpečené části naší webové
    stránky.
  </p>
  
  <div class="col-sm-12">
    <br />
    <h5>Funkční cookies</h5>
    <div class="line-mf-product-detail"></div>
  </div>
  <p>
    Pomocí těchto cookies jsme schopni vám nabídnout služby, jako je například
    uvítací zpráva s vaším jménem, zapamatování si vašich předchozích
    objednávek, automatický výběr vašeho jazyka aj. Funkční cookies shromažďují
    vaše anonymní informace ke zlepšení služby a nesledují váš pohyb na jiných
    stránkách.
  </p>

  <div class="col-sm-12">
    <br />
    <h5>Analytické a cookies</h5>
    <div class="line-mf-product-detail"></div>
  </div>
  <p>
    Tyto cookies nám umožňují přijímat a analyzovat informace návštěvníků, jako
    je využití prohlížečů, počet nových návštěvníků, počet zobrazených stránek za
    návštěvu a reakce na marketingové aktivity. Tyto funkce pomáhají zlepšovat
    naše služby, abychom mohli lépe reagovat na vaše požadavky.
  </p>

  <div class="col-sm-12">
    <br />
    <h5>Reklamní cookies</h5>
    <div class="line-mf-product-detail"></div>
  </div>
  <p>
    Reklamní cookies shromažďují informace o tom, jak využíváte naše stránky. Na
    základě toho vám pak můžeme zobrazovat reklamu, které odpovídají oblasti
    vašeho zájmu a které byste mohli později využít. Zároveň je díky nim možné
    měřit úspěšnost jednotlivých reklamních kampaní a případně je pro vás omezit.
    Pokud vyjádříte souhlas s reklamními cookies, můžeme, pro zlepšení služeb,
    poskytovat vaše informace třetí straně.
  </p>

  <p>
    Pokud si nepřejete, aby se vaše cookies ukládaly, můžete váš souhlas o
    užívání cookies odvolat. V tomto případě postupujte takto:
    Nastavení cookies ve vašem internetovém prohlížeči můžete nalézt v záložce
    nástroje, možnosti či nastavení internetového prohlížeče.
    Internetové prohlížeče mohou disponovat různými způsoby, jak ukládání
    cookies deaktivovat. V případě, že ukládání cookies deaktivujete, budete moct
    stále využívat a pohybovat se na našem webu, některé služby vám však nemusí
    fungovat správně.
  </p>
  <i>
    Pokud si budete přát více informací, stačí nás kontaktovat na emailu
    <a href="mailto:info@pujcimeiphone.cz">info@pujcimeiphone.cz</a>. Rádi vám poradíme.
  </i>
</div>
