<section id="poptavka" style="padding-top:0px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Nová poptávka
          </h3>
          <p class="subtitle-a">
            Vyplněním tohoto formuláře se k ničemu nezavazujete, pouze nám tím ulehčíte práci se zpracováním poptávky. Můžete nám samozřejmě také zavolat, ale představte si nás na druhé straně telefonu, v jedné ruce iPhone, v druhé ruce propiska a papír. Přitom stačí vyplnit pár údajů v tomto formuláři. S nabídkou se vám ozveme do pár minut.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionForm">
      <app-poptavka-form></app-poptavka-form>
    </div>
  </div>
</section>
